body {
     width: 100%;
     height: 100%;
    display: block;
    background: url("./assets/background.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px #f4f7f466;
    /*height: auto;*/
    position: fixed;
    top: 0;
    left: 0;
}

.hamburger-button {
    padding: 0 !important;
    margin: 0 !important;
    border: none;
}

.senthings-menu {
    width: 15%;
    margin-left: 71%;
    margin-top: 9%;
    background-color: #535b8296;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.senthings-menu a {
    color: #fff !important;
    /*border-bottom: 1px solid white;*/
    /*padding-left: 10px;*/
    text-transform: capitalize;
    font-weight: 700;
}

.menu-link {
    display: flex;
    align-content: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.nav-item a {
    margin-left: 10px;
}

.menu-link a {
    align-items: center;
    border-bottom: none;
}

.menu-link-icon {
    align-items: center;
    color: #fff;
}

.no-border {
    border-bottom: none !important;

}

.white-border {
    border-bottom: 1px solid white;

}

.menu-space {
    height: 10px;
    background-color: #1b1e2196;
}

.menu-info {
    color: #fff;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    text-align: left;
}

.menu-info a {
    padding-left: 0;
    text-transform: lowercase;
}

.border-footer {
    border-top: 1px solid #9fbedd;
    width:100%;
    height: 40px;

}

.border-right-footer {
    border-right: 2px solid #22303f;
    width: 20px;
    height: 30px;
    margin-right: 10px;
    align-self: center;
    justify-content: center;
    margin-bottom: 10px;
}

.footer {
    width:1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.footer-row-logo {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}

.footer-row-links {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
}

.footer-row-logo p {
    margin: 0px;
    padding: 0px 20px;
    align-self: center;
    color: #535b82 !important;
    font-size: 16px;
    font-weight: bold;
}

.footer-row-links a {
    align-self: center;

}

.footer-row-links h4 {
    color: #535b82 !important;
    font-size: 16px;
    font-weight: bold; 

}

.footer-logo {
    width: 60px;
    height: auto; 
}




/* Desktops and laptops ----------- */
@media only screen  and (min-width: 1224px) {
    /* Styles */

    .body {
        width: 100%;
        height: 100%;
    }

    .main-container {
        max-width: 100%;
        height: 100%;
        /*border: 1px solid red;*/
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    }


    .senthings-bar {
        width: 1200px;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        margin-top: 5% !important;
        padding: 0 !important;
        /*border: 1px solid red;*/

    }

    .nav-logo {
        width: 400px;
        height: 100px;
        margin-left: 0 !important;
        padding: 0 !important;


    }

    /* .nav-logo:hover {
        width: 400px;
        margin-left: 100px;
        background: url("./assets/long-logo.svg") ;
    } */

    .nav-hamburger {
        width: 100px;
        height: 100px;
        z-index: 1;
        padding-top: 0 !important;
        margin-right: 0 !important;

    }

    .homepage-content {
        /*margin-top: 20%;*/
        /*border: 1px solid red;*/
        width: 1200px;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
    }

    .homepage-content .text {
        color: #535b82 !important;
        font-weight: 700;  
        text-align: left;
        align-self: center                      
    }

    .text .sen {
        font-weight: bold;
    }

    .homepage-image-container {
        display: flex;
    }

    .homepage-image {
        width: 700px; 
        align-self: center;
    }

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 812px) {
    /* Styles */
    .senthings-bar {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        /*border: 1px dashed red;*/
        margin-top: 5% !important;
        padding: 10px !important;

    }

    .nav-logo {
        width: 200px;
        height: 50px;
        padding: 0!important;
        margin: 0!important;
        border: none !important;

    }


    .nav-hamburger {
        width: 50px;
        height: 50px;
        z-index: 1;
        align-items: flex-end;
        padding: 0!important;
        margin: 0!important;
        border: none !important;

    }

    .senthings-menu {
        width: 50%;
        margin-left: 45%;
        margin-top: 23%;
        background-color: #535b8299;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px; /* future proofing */
        -khtml-border-radius: 10px; /* for old Konqueror browsers */
    }




    .homepage-content {
        /*margin-top: 20%;*/
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .homepage-content .text {
        color: #535b82 !important;
        font-weight: 700;
        margin-top: 50px;
        margin-left: 20px;
        text-align: left;
    }

    .text .sen {
        font-weight: bold;
    }

    .homepage-image {
        width: 400px;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .footer {
        max-width:1200px; 
        flex-direction: column; 
        
    }

    .footer-row-logo {
        font-size: 14px;
    }
}


/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
}


